.container{
    max-width: 90vw;
    /* padding-top: 1rem; */
}
/* .form-control{
    
} */
.map{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8vh;
}
@media (max-width: 1227px){
    .form-control{
    width: 90vw;
}
.map{
    display: none;
}
}